<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Feedback Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <h1>User Feedback Portal</h1>
    </header>

    <main>
        <h2>Welcome!</h2>
        <p>Please fill out our feedback form to help us improve your experience.</p>
	    <a href="/feedback" class="btn">Enter Feedback Here</a>
        <a href="/stats" class="btn">See Statistics Here</a>

    </main>

    <footer>
        &copy; 2025 Very Cool Company
    </footer>

</body>
</html>
